<!-- course.component.html -->
<div class="course">
  <div *ngFor="let module of courseData.modules" class="module">
    <h2>{{ module.title }}</h2>
    <div *ngFor="let item of module.content" class="content-item">
      <ng-container [ngSwitch]="item.type">
        <!-- Caso lección -->
        <div *ngSwitchCase="'lesson'">
          <h3>{{ item.title }}</h3>
          <p>{{ item.text }}</p>
        </div>

        <!-- Caso ejercicio -->
        <div *ngSwitchCase="'exercise'">
          <ng-container [ngSwitch]="item.exerciseType">
            <!-- Ejercicio de selección múltiple -->
            <div *ngSwitchCase="'multipleChoice'">
              <p>{{ item.question }}</p>
              <div *ngFor="let option of item.options">
                <label>
                  <input type="radio" [name]="'mc-' + item.question" />
                  {{ option }}
                </label>
              </div>
            </div>

            <!-- Ejercicio de verdadero/falso -->
            <div *ngSwitchCase="'trueFalse'">
              <p>{{ item.question }}</p>
              <label>
                <input type="radio" [name]="'tf-' + item.question" value="true" />
                Verdadero
              </label>
              <label>
                <input type="radio" [name]="'tf-' + item.question" value="false" />
                Falso
              </label>
            </div>

            <!-- Ejercicio de rellenar (input) -->
            <div *ngSwitchCase="'fillInTheBlank'">
              <p>{{ item.question }}</p>
              <input type="text" placeholder="Escribe tu respuesta" />
            </div>

            <!-- Ejercicio con slider -->
            <div *ngSwitchCase="'slider'">
              <p>{{ item.question }}</p>
              <input type="range" [min]="item.min" [max]="item.max" />
            </div>

            <!-- Caso por defecto para ejercicios desconocidos -->
            <div *ngSwitchDefault>
              <p>Tipo de ejercicio desconocido.</p>
            </div>
          </ng-container>
        </div>

        <!-- Caso por defecto para tipos desconocidos -->
        <div *ngSwitchDefault>
          <p>Tipo de contenido desconocido.</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
