<div class="flex flex-col gap-3 rounded-xl p-3">
  @if (courseData) {
    @for (module of courseData.modules; track $index) {
      <div class="rounded-xl bg-white px-6 py-16 text-gray-700">
        <h2 class="mb-6 text-center text-3xl font-bold text-blue-800">{{ module.title }}</h2>

        @for (lesson of module.lessons; track $index) {
          <h3 class="mb-6 text-2xl font-bold text-blue-900">{{ lesson.title }}</h3>
          <div class="mb-8">
            <p>{{ lesson.content }}</p>
            @for (teaching of lesson.teachings; track $index) {
              <p>{{ teaching.title }}</p>
              <p>{{ teaching.content }}</p>

              @for (exercise of teaching.exercises; track $index) {
                <p>{{ exercise.title }}</p>
                <p>{{ exercise.description }}</p>
                <p>{{ exercise.type }}</p>
                @if (exercise.type == typeExercise.BOOLEAN) {
                  <input type="radio" id="checkbox" name="checkbox" value="true" /> V <input type="radio" id="checkbox" name="checkbox" value="false" /> F
                }
              }
            }
            @if (lesson.exercises?.length) {
              <p>Ejercicios finales de la leccion:</p>
              @for (exercise of lesson.exercises; track $index) {
                <p>{{ exercise.title }}</p>
                <p>{{ exercise.description }}</p>
                <p>{{ exercise.type }}</p>
                @if (exercise.type == typeExercise.BOOLEAN) {
                  <input type="checkbox" id="checkbox" name="checkbox" value="true" />
                  <label for="checkbox">¿Es correcto?</label>
                }
              }
            }
          </div>
        }
      </div>
    }
  }
</div>
