<div class="min-h-screen bg-gray-100 px-6 py-12">
  <h2 class="mb-8 text-center text-4xl font-bold text-blue-800">Foro de la Comunidad</h2>
  <div class="mx-auto max-w-4xl">
    <div class="mb-6 text-right">
      <button
        (click)="togglePublishModal()"
        modal-content
        class="fixed bottom-10 right-1/2 mr-3 transform rounded-full bg-blue-500 px-3 py-3 text-lg font-semibold text-white shadow-lg transition-all duration-300 hover:scale-110 hover:bg-blue-600 hover:shadow-2xl focus:outline-none focus:ring-4 focus:ring-blue-300 lg:right-0 lg:px-6"
      >
        <p class="hidden lg:flex">Publicar</p>
        <i class="bi bi-plus-lg flex lg:hidden"></i>
      </button>
      @if (publishModal) {
        <app-publish (closeModalEvent)="togglePublishModal()" (postCreatedEvent)="onPostCreated()"></app-publish>
      }
    </div>
    @for (post of posts; track $index) {
      <div class="z-0 mb-6 flex items-start justify-between rounded-lg bg-white shadow-lg">
        <a routerLink="/explore/post/{{ post.id }}" class="flex-grow p-6">
          <div class="mb-4 flex items-center gap-4">
            <div class="flex-shrink-0">
              <img [src]="IMAGES_URL + post.user.profile_picture" onerror="this.src='error.svg'" alt="Autor" class="h-12 w-12 rounded-full border-2 border-gray-300 object-cover" />
            </div>
            <div>
              <p class="text-sm font-semibold text-gray-700">{{ post.user.name }}</p>
              <p class="text-sm text-gray-500">{{ post.creation_date | relativeTime }}</p>
            </div>
          </div>
          <p class="my-2 break-all text-gray-700">{{ post.content }}</p>
        </a>

        @if (currentUserId === post.user.id) {
          <button (click)="deletePost(post.id)" class="me-3 mt-2 flex items-center justify-center rounded-full bg-transparent transition duration-300 ease-in-out">
            <i class="bi bi-trash text-xl text-red-600"></i>
          </button>
        }
      </div>
    }
  </div>
  @if (loading) {
    <div class="py-6 text-center text-neutral-700">Cargando más posts...</div>
  }
</div>
