@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'flag-icons/css/flag-icons.min.css';
@import 'highlight.js/styles/github.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #376591, #194e83, #3d3396, #694796);
  background-size: 400% 400%;
  animation: gradient 10s linear infinite;
}

app-root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 0 1fr auto;
}

.banner {
  min-height: calc(100vh - 76px);

  @media (width >= 1024px) {
    min-height: calc(100vh - 88px);
  }
}

/* Esto con los pixeles ajustados es horribles */

/* Si hay otra forma de hacerlo mejor, hay que arreglarlo */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* MEDIA QUERYS TEMPLATE */
// @media (width >= 480px) {
// }

// @media (width >= 768px) {
// }

// @media (width >= 1024px) {
// }

// @media (width >= 1200px) {
// }

// @media (width >= 1920px) {
// }

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  //ignore eslint
  background-color: unset !important;
}

.custom-snackbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
  box-shadow:
    0 3px 5px -1px rgb(0 0 0 / 20%),
    0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  font-size: 16px;
  color: white;
}

.custom-snackbar div {
  box-shadow: unset;
}

.snackbar-success {
  background-color: #28a745;
}

.snackbar-error {
  background-color: #dc3545;
}

// .custom-snackbar span {
//   padding: 4px 8px;
// }
