<div class="banner flex flex-col flex-wrap items-center justify-around gap-8 rounded-lg px-6 py-24 text-white md:px-20 xl:flex-row">
    <div class="order-1 flex max-w-lg flex-col items-center text-center md:order-2 md:items-start md:text-left xl:order-1">
        <div class="flex flex-wrap items-center justify-center gap-3 text-center">
        <a class="transform rounded-full bg-white px-8 py-3 text-lg font-semibold text-blue-900 cursor-pointer transition-all duration-300 hover:scale-105 hover:bg-gray-100">
            Button1
        </a>
        <a class="transform rounded-full border-2 border-white bg-transparent px-8 py-3 cursor-pointer text-lg font-semibold text-white transition-all duration-300 hover:scale-105">
            Button2
        </a>
        <a class="transform rounded-full bg-blue-900 px-8 py-3 text-lg font-semibold text-white cursor-pointer transition-all duration-300 hover:scale-105 hover:bg-blue-800">
            Button3
        </a>
        </div>
    </div>
</div>
    
    