<!-- <div class="banner flex flex-col flex-wrap items-center justify-around gap-8 rounded-lg px-6 py-24 text-white md:px-20 xl:flex-row">
    <div class="order-1 flex max-w-lg flex-col items-center text-center md:order-2 md:items-start md:text-left xl:order-1">
        <div class="flex flex-wrap items-center justify-center gap-3 text-center">
        <a class="transform rounded-full bg-white px-8 py-3 text-lg font-semibold text-blue-900 cursor-pointer transition-all duration-300 hover:scale-105 hover:bg-gray-100">
            Button1
        </a>
        <a class="transform rounded-full border-2 border-white bg-transparent px-8 py-3 cursor-pointer text-lg font-semibold text-white transition-all duration-300 hover:scale-105">
            Button2
        </a>
        <a class="transform rounded-full bg-blue-900 px-8 py-3 text-lg font-semibold text-white cursor-pointer transition-all duration-300 hover:scale-105 hover:bg-blue-800">
            Button3
        </a>
        </div>
    </div>
</div> -->
<div class="banner flex items-center justify-around gap-8 rounded-lg max-w-lg text-gray-700">
    <pre class="bg-gray-100 p-3 rounded overflow-x-scroll">
        holas dfqwuie qwed fneuiof hqwuerhuiowqehruiwqehruiowqe rwqeu rheqfui weo fwqebnoib fiwqe Lorem, ips
        um dolor sit amet consectetur adipisicing elit. Officiis qui inventore, veniam voluptate dolorum 
        nam fuga, non architecto quos minima odit, culpa unde voluptatem quam maxime blanditiis ea adipisci? Labore suscipit autem vitae? Ducimus explicabo quia elig
        endi ratione at nobis culpa quae quo impedit quasi veniam, voluptatum, quidem numquam est voluptas e
        os labore dolorum nam assumenda doloremque possimus accusantium soluta vero. Quo cupiditate fugit corrupti ut libero nobis, consequatur voluptatibus alias sunt tempora, quisq
        uam iste eligendi voluptas totam. Laboriosam, quae porro? Molestiae, ea reiciendis odio, sed repudiandae natus corporis, explicabo error nulla vel ex
         fugit dignissimos? Et nemo dolores quam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium sunt sequi, rerum cum inci
        dunt reiciendis vitae corporis perspiciatis modi, provident nam natus, impedit dolorum magnam mollitia possimus harum rem excepturi. Accusantium amet magni rerum corrupti labore atque ar
        chitecto, deleniti odit quisquam cumque praesentium beatae velit neque, quidem at nisi tempora. Eveni
        et, fugit? Molestiae minus ea sint voluptatem dignissimos ipsam incidunt modi illo consequuntur ad reprehenderit veritatis suscipit optio, consequatur dolores inventore. Aspernatur nisi 
        accusantium, aliquid ipsam voluptatum dolore
        s deleniti? Maiores distinctio, deserunt adipisci eos minus tempore alias obcaecati quo non neque laudantium eaque! Illo repellendus at nemo voluptatibus nam quasi nihil eaque
         porro magni, harum omnis enim unde, laborum, nobis ex recusandae vitae ab animi neque qui beatae ipsam. Natus eius nemo assumenda non soluta dolor quam quae exe
        rcitationem porro, error nesciunt doloremque explicabo nostrum maxime eum veritatis ex molestias. Minus, sunt. Ni
        hil necessitatibus doloribus tempora odio illum quisquam at sapiente, temporibus consequuntur, iure sit ipsum sim
        ilique voluptas autem explicabo minima. Atque, hic et laudantium sunt voluptates alias facere totam aliquam disti
        nctio obcaecati tenetur ut nostrum quas rerum neque exercitationem? Illum id ipsa voluptatum aliquid dolore! Aute
        m veniam, odit beatae, numquam quaerat sapiente animi architecto molestiae velit est magni rerum.
    </pre>
</div>


    
    